.dokumenty-do-pobrania-content-wrapper ul {
    margin: 20px;
    margin-left: 40px;
}

.dokumenty-do-pobrania-content-wrapper a {
    color: #000000;
    text-decoration: none;
}

.dokumenty-do-pobrania-content-wrapper a:hover {
    text-decoration: underline;
    text-decoration-color: #ff6200;
}

.dokumenty-do-pobrania-content-wrapper ul {
    list-style:none;
    padding-left: 1em;
}

.dokumenty-do-pobrania-content-wrapper li {
    display: flex;
    align-items: center;
    position: relative;

}

.dokumenty-do-pobrania-content-wrapper li:before {
     content: '';
     display: inline-block;
     height: 20px;
     min-width: 20px;
     background-image: url(https://rcku.nazwa.pl/cms/sites/default/files/2021-05/attachment-24px%20%281%29.svg);
     background-size: contain;
     background-repeat: no-repeat;
     margin-right:0.5em;
}

