
.partner-wrapper {
    justify-content: center;
}

.partner-wrapper span {
    border-bottom: 2px solid #ff6200;
}

.partner-wrapper #partner-logo {
    justify-content: center;
    margin: 0px 20px;
    width: 130px;
}

.single-job {
    position: relative;
    margin: 10px;
    padding: 10px 0px 20px;
    display: flex;
    align-items: center;
}

.single-job-link {
    text-decoration: none;
    color: #000000;
}

.single-job-link:hover {
    text-decoration: underline #ff6200;
}

.single-job:not(:last-child)::after {
    content: '';
    position: absolute;

    bottom: 0;
    border-top: 5px solid white;

    width: 100%;
}