.important-wrapper {
    border: 3px solid #ff6200;
    border-width: 3px 0px 3px 0px;

    background-color: #f1f1f1;

    padding: 20px;
    margin: 20px 0px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.important-info {
    margin-top: 10px;
    line-height: 30px;
    text-align: center;
}

.important-message-sign {
    width: 100%;
    margin-top: -20px;
    margin-left: auto;
    text-align: right;
    width: fit-content;
}

@media (max-width: 1100px) {
    .important-message-sign {
        margin-top: 10px;
    }
}

@media (max-width: 600px) {
    .important-wrapper {
        padding: 10px;
        font-size: 3vw;
    }

    .important-info {
        line-height: 15px;

    }
}