.contactbar-wrapper {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    align-items: flex-start;

    padding: 15px;
    padding-bottom: 25px;
    margin-left: 0px;
    color: white;
    font-size: 12px;
}

.contactbar-wrapper:first-of-type {
    border-bottom: 1px solid white;
    border-color: rgba(255, 255, 255, 0.5);
}

.contactbar-icon {
    width: 30px;
    margin-right: 8px;
}
.contactbar-section {
    display: flex;

}
.contactbar-label {
    margin-top: 6px;
}

.contactbar-wrapper a {
    text-decoration: none;
    color: white;
}

/*.contactbar-wrapper a:last-child {*/
/*    margin-left: 0px auto;*/
/*}*/

@media (max-width: 1023px) {

    .contactbar-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .contactbar-wrapper > div {
        margin-top: 10px;
    }

    .contactbar-wrapper > a {
        margin-top: 10px;
    }

}

@media (max-width: 600px) {

    .contactbar-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }


}