@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap');



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

.header-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.header-logos img {
    max-width: 150px;
}

#contrast-component {
    cursor: pointer;
    position:absolute;
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    align-items: center;

    width: fit-content;
}

#contrast-component label{
 cursor: pointer;
}

#contrast-icon {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    outline: none;
}

.dark-theme #contrast-icon {
    background-color: yellow!important;
    border-left: 2px solid yellow;
}

.dark-theme #contrast-component {
    border: 2px solid yellow;
}

@media (max-width: 1024px) {
    #contrast-component {
        position: relative;
        margin-top: 30px;
        left: 5px;
    }
}

@media (max-width: 600px) {
    #contrast-component {
        right: 5px;
        left: auto;
    }
    #contrast-icon {
        width: 20px;
        height: 20px;
    }

    .header-logos {
        flex-direction: row;
        position: absolute;
        right: 0px;
        bottom: 0px;
    }

    .header-logos img {
        max-width: 100px;
    }
}

.dark-theme, .dark-theme * {
    background-color: black!important;
    color: yellow!important;
}

.dark-theme .inner-navbar {
    border: 2px solid yellow;
}

.dark-theme #contact-form button,.dark-theme #contact-form select,.dark-theme #contact-form textarea,.dark-theme #contact-form input {
    border: 2px solid yellow;
}

.dark-theme .joinus-wrapper img {
    filter: opacity(0%);
}

.dark-theme .joinus-slicer {
    border: 3px solid aliceblue;
}

.dark-theme .header-logos > a:first-of-type img{
    background: yellow!important;
}

h3 {
    font-family: Montserrat;
    font-weight: 600;
}

h3 * {
    font-family: inherit;
}

h1 {
    font-family: Montserrat;
    font-weight: 600;
}

h1 * {
    font-family: inherit;
}

.news-headline {
    font-family: Montserrat;
}

.news-headline * {
    font-family: inherit;
}

.breadcrumb {
    font-family: Montserrat;
}

.breadcrumb * {
    font-family: inherit;
}

.top-footer-section-label {
    font-family: Montserrat;
}

.bottom-footer-section {
    font-family: Montserrat;
}

.bottom-footer-section * {
    font-family: inherit;
}

header * {
    font-family: inherit;
}

nav * {
    font-family: inherit;
}

html, body {
    background-color: rgba(255, 98, 0, 1);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*overflow-x: hidden;*/

}

header {
    height: auto;
    width: 100vw;
    max-width: 100%;
    background: rgb(94, 95, 99);
    overflow: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Montserrat';
    padding-bottom: 10px;
    padding-top: 10px;
}

.headerContent {

    color: white;
    width: 75%;
    padding: 20px;
    display: flex;

    justify-content: space-between;
    height: fit-content;
    align-items: center;
    position: relative;
}

.headerContent > div:first-of-type{
    width: 80%;
}

.headerContent * {
    line-height: 1.2;

}

.headerContent a {
    color: white;
    text-decoration: none;
}

.headerContent h4 {
    font-weight: normal;
}


@media (max-width: 600px) {

}


main > section {
    height: auto;
    width: 100vw;
    max-width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.section-content {
    position: relative;
    padding-bottom: 20px;
    width: 75vw;
    min-height: 600px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

footer {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;

    overflow-x: hidden;

}

.top-footer-section {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgba(255, 98, 0, 1);
    min-height: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-footer-section-label {
    color: white;
    margin-bottom: 20px;
}

.bottom-footer-section {
    padding: 10px;
    flex: 1;
    width: 100%;
    background: rgb(94, 95, 99);
    overflow: auto;

    color: white;
    font-size: 12px;

    display: flex;
    justify-content: center;
}

.bottom-footer-section-label {
    padding-left: 10px;
    padding-right: 10px;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.breadcrumb {
    display: none;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.breadcrumb ol {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.breadcrumb a {
    text-decoration: none;
    color: black;
}

.breadcrumb__separator {
    display: inline-block;
    margin: 0px 10px;
}

.show {
    display: block;
}

.image-gallery-icon:hover {
    color: #ff6200 !important;
}

.image-gallery-thumbnail.active {
    border: 4px solid #ff6200 !important;
}

.image-gallery-thumbnail:hover {
    border: 4px solid #ff6200 !important;
}

@media (max-width: 1023px) {

    .section-content {
        width: 100vw;
    }

    .breadcrumb__item {
        font-size: 2vw;
    }
}

@media (max-width: 600px) {

    .section-content {
        width: 100vw;
        padding: 0px;
    }

    .center-form {

    }
}

.alert-sent {
    position: fixed;
    top: 40%;
    left: 50%;

    -webkit-transform: translateY(-50%) translateX(-50%);

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    border-radius: 6px;
    transform: translateY(-50%) translateX(-50%);
    background-color: #ff6200;
    color: white;
    z-index: 100;
    padding: 10px 20px;
    visibility: hidden;
}

.alert-sent--active {
    -webkit-animation: alert-animation 3s ease-in-out forwards;
    animation: alert-animation 3s ease-in-out forwards;
}

@keyframes alert-animation {
    0% {
        /*-webkit-transform: translateY(-400px) translateX(-50%);*/
        opacity: 0;
        -moz-opacity: 0; /* Firefox and Mozilla browsers */
        -webkit-opacity: 0; /* WebKit browser e.g. Safari */
    }
    40% {
        visibility: visible;

        /*-webkit-transform: translateY(30%) translateX(-50%);*/
        opacity: 1;
        -moz-opacity: 1; /* Firefox and Mozilla browsers */
        -webkit-opacity: 1; /* WebKit browser e.g. Safari */


    }
    90% {
        visibility: visible;

        /*-webkit-transform: translateY(30%) translateX(-50%);*/
        opacity: 1;
        -moz-opacity: 1; /* Firefox and Mozilla browsers */
        -webkit-opacity: 1; /* WebKit browser e.g. Safari */

    }
    100% {
        /*-webkit-transform: translateY(30%) translateX(-50%);*/
        opacity: 0;
        -moz-opacity: 0; /* Firefox and Mozilla browsers */
        -webkit-opacity: 0; /* WebKit browser e.g. Safari */

    }

}

.info-about-school-wrapper {
    position: absolute;
    right: 70px;
    top: 0px;
    height: fit-content;
    width: 300px;
    padding: 20px;
    background: #ff6200;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);

    font-weight: bold;
    color: aliceblue;
}

@media (max-width: 750px) {
    .info-about-school-wrapper {
        position: relative;
        margin: auto;
        left: 5px;
    }


    .center-form {
        margin-top: 50px;
        margin-left: auto!important;
        margin-right: auto!important;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.single-gallery {
}

.single-gallery h3 {
    text-align: left;
    border-bottom: 3px solid #ff6200;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}

.cookies-alert-wrapper {
    padding: 20px;
    position: fixed;
    bottom: 20px;
    left: 0px;
    background: #5e5f63;
    color: aliceblue;
    width: 30%;
    height: fit-content;
    z-index: 150;
}

.cookies-alert-wrapper a {
    display: inline-block;
    padding-top: 30px;
    text-decoration: underline;
    color: inherit;
}

.cookies-alert {


    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cookies-alert span {
    width: 80%;
}

.cookies-alert button {
    margin: 1px;
    height: fit-content;

}

.bottom-footer-section-label a {
    text-decoration: underline;
    color: inherit;
}