@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap');



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;

}

#contrast-component {
    cursor: pointer;

    display: flex;
    flex-direction: row;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%) translateX(-100%);

    justify-content: flex-end;
    align-items: center;

    width: fit-content;
}

#contrast-component label{
 cursor: pointer;
}

#contrast-icon {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    outline: none;
}

.dark-theme #contrast-icon {
    background-color: yellow!important;
    border-left: 2px solid yellow;
}

.dark-theme #contrast-component {
    border: 2px solid yellow;
}

@media (max-width: 1024px) {
    #contrast-component {
        top:50%;
        left: 50%;
        transform: translateY(-50%) translateX(0%);

    }
}

@media (max-width: 600px) {
    #contrast-component {
        right: 5px;
        left: auto;
    }
    #contrast-icon {
        width: 20px;
        height: 20px;
    }
}

.dark-theme, .dark-theme * {
    background-color: black!important;
    color: yellow!important;
}

.dark-theme .inner-navbar {
    border: 2px solid yellow;
}

.dark-theme #contact-form button,.dark-theme #contact-form select,.dark-theme #contact-form textarea,.dark-theme #contact-form input {
    border: 2px solid yellow;
}

.dark-theme .headerContent-logos a:first-of-type img {
    background-color: yellow!important;
}

.dark-theme .joinus-wrapper img {
    filter: opacity(0%);
}

.dark-theme .joinus-slicer {
    border: 3px solid aliceblue;
}

h3 {
    font-family: Montserrat;
    font-weight: 600;
}

h3 * {
    font-family: inherit;
}

h1 {
    font-family: Montserrat;
    font-weight: 600;
}

h1 * {
    font-family: inherit;
}

.news-headline {
    font-family: Montserrat;
}

.news-headline * {
    font-family: inherit;
}

.breadcrumb {
    font-family: Montserrat;
}

.breadcrumb * {
    font-family: inherit;
}

.top-footer-section-label {
    font-family: Montserrat;
}

.bottom-footer-section {
    font-family: Montserrat;
}

.bottom-footer-section * {
    font-family: inherit;
}

header * {
    font-family: inherit;
}

nav * {
    font-family: inherit;
}

html, body {
    background-color: rgba(255, 98, 0, 1);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*overflow-x: hidden;*/

}

header {
    height: auto;
    width: 100vw;
    max-width: 100%;
    background: rgb(94, 95, 99);
    overflow: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Montserrat';
    padding-bottom: 10px;
    padding-top: 10px;
}

.headerContent {
    color: white;
    width: 75%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
    position: relative;
}


.headerContent a {
    color: white;
    text-decoration: none;
}

.headerContent h4 {
    font-weight: normal;
}

.headerContent-logos {
    height: inherit;
    padding: 0px 0px;
}

.headerContent-logos img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 20px;
}

@media (max-width: 600px) {

    .headerContent-logos {
        display: none;
    }
}


main > section {
    height: auto;
    width: 100vw;
    max-width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.section-content {
    padding-bottom: 20px;
    width: 75vw;
    min-height: 600px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

footer {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;

    overflow-x: hidden;

}

.top-footer-section {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgba(255, 98, 0, 1);
    min-height: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-footer-section-label {
    color: white;
    margin-bottom: 20px;
}

.bottom-footer-section {
    padding: 10px;
    flex: 1;
    width: 100%;
    background: rgb(94, 95, 99);
    overflow: auto;

    color: white;
    font-size: 12px;

    display: flex;
    justify-content: center;
}

.bottom-footer-section-label {
    padding-left: 10px;
    padding-right: 10px;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.breadcrumb {
    display: none;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.breadcrumb ol {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.breadcrumb a {
    text-decoration: none;
    color: black;
}

.breadcrumb__separator {
    display: inline-block;
    margin: 0px 10px;
}

.show {
    display: block;
}

.image-gallery-icon:hover {
    color: #ff6200 !important;
}

.image-gallery-thumbnail.active {
    border: 4px solid #ff6200 !important;
}

.image-gallery-thumbnail:hover {
    border: 4px solid #ff6200 !important;
}

@media (max-width: 1023px) {

    .section-content {
        width: 100vw;
    }

    .breadcrumb__item {
        font-size: 2vw;
    }
}

@media (max-width: 600px) {

    .section-content {
        width: 100vw;
        padding: 0px;
    }

    .center-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.alert-sent {
    position: fixed;
    top: 40%;
    left: 50%;

    -webkit-transform: translateY(-50%) translateX(-50%);

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    border-radius: 6px;
    transform: translateY(-50%) translateX(-50%);
    background-color: #ff6200;
    color: white;
    z-index: 100;
    padding: 10px 20px;
    visibility: hidden;
}

.alert-sent--active {
    -webkit-animation: alert-animation 3s ease-in-out forwards;
    animation: alert-animation 3s ease-in-out forwards;
}

@keyframes alert-animation {
    0% {
        /*-webkit-transform: translateY(-400px) translateX(-50%);*/
        opacity: 0;
        -moz-opacity: 0; /* Firefox and Mozilla browsers */
        -webkit-opacity: 0; /* WebKit browser e.g. Safari */
    }
    40% {
        visibility: visible;

        /*-webkit-transform: translateY(30%) translateX(-50%);*/
        opacity: 1;
        -moz-opacity: 1; /* Firefox and Mozilla browsers */
        -webkit-opacity: 1; /* WebKit browser e.g. Safari */


    }
    90% {
        visibility: visible;

        /*-webkit-transform: translateY(30%) translateX(-50%);*/
        opacity: 1;
        -moz-opacity: 1; /* Firefox and Mozilla browsers */
        -webkit-opacity: 1; /* WebKit browser e.g. Safari */

    }
    100% {
        /*-webkit-transform: translateY(30%) translateX(-50%);*/
        opacity: 0;
        -moz-opacity: 0; /* Firefox and Mozilla browsers */
        -webkit-opacity: 0; /* WebKit browser e.g. Safari */

    }

}
