.silly-content-wrapper video {
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);

    outline: none;
    /*border: 10px solid gray;*/
}

.around-video {
    margin: 0px auto;
    width: 65%;
}

@media (max-width: 600px) {
    .around-video {
        width: 100%;
    }
}