
.aktualnosci-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    background-color: #F2F2F2;

    padding: 20px 30px;
}

.single-article {
    position: relative;
    margin: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.single-article:not(:last-child)::after {
    content: '';
    position: absolute;

    bottom: 0;
    border-top: 5px solid white;

    width: 100%;
}

.aktualnosci-content-wrapper {
    padding: 0px 30px;
}

.single-article-content {
    padding: 40px;
    padding-bottom: 20px;
}

.single-article-text {
    padding: 30px 0px;
    text-align: justify;
}

.single-article-content > img {
    width: 30%;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;

}

.single-article-content-date {
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: right;
}

.single-article-content-date span {
    background-color: rgba(255, 103, 0, 0.78);
    color: white;
    padding: 2px 5px;
    white-space: pre;
}

.single-article-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.single-article-gallery img {
    width: 40%;
    margin: 10px 10px;
    height: intrinsic;
}

.single-article-gallery img:first-of-type {
    width: 85%;
}

.single-article > h1 {
    text-decoration: underline #ff6200;
}

.markdown-content {

}
.markdown-content blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
.markdown-content blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
.markdown-content blockquote p {
    display: inline;
}


.markdown-content p {
    align-self: center;
}

.markdown-content h4 {
    color: red;
}

.markdown-content p>img {
    max-width: 80%;
    margin: auto;
    display: block;
}

.markdown-content li::marker {
    color: #5e5f63;
}

.markdown-content li {
    margin-bottom: 5px;
    margin-left: 40px;
}

.markdown-content a {
    color: black
}

.markdown-content p {
    display: block;
    /*padding-block-start: 1em;*/
    /*padding-block-end: 1em;*/
    padding-top: 1em;
    padding-bottom: 1em;
}

.markdown-content ol, .markdown-content ul {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
