.one-adventage-wrapper {
    width: 20%;
    min-width: 150px;

    /*margin: 5px;*/
    /*background-color: #5e5f63;*/
    padding: 10px;
    font-size: 1.5vh;


}

@media (max-width: 600px) {

    .one-adventage-wrapper {
        background-color: rgba(200, 200, 200, 0.3);
        margin: 10px 10px;
    }
}

.oaw-first-page {
    height: 25vh;
    display: grid;
    grid-template-rows: 11vh 5vh auto;
    text-align: center;

    font-weight: bold;
    color: #5e5f63;
}

.oaw-first-page span {
    display: flex;
    align-items: center;
    justify-content: center;

}

.oaw-second-page span {
    text-align: center;
    font-weight: bold;

}

.oaw-first-page img {
    margin: auto;
    height: 100%;
}

.one-adventage-wrapper:last-of-type .oaw-first-page {
    color: #ff6200;
}

.oaw-second-page {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    height: 25vh;
}

.one-adventage-wrapper:hover{
    display: block;
    background-color: #ff6200;
    color: aliceblue;
    /*padding: 0px;*/
    height: 100%;
}

.one-adventage-wrapper:hover .oaw-second-page{
    display: flex;
    background-color: #ff6200;
    color: aliceblue;
}

.one-adventage-wrapper:hover .oaw-first-page{
    display: none;
}

* {
    /*background-color: black!important;*/
    /*color: yellow!important;*/
    /*font-size: x-large!important;*/
}