.adventage-wrapper {
    /*background-color: #f1f1f1;*/
    margin-top: 20px;

    width: 100%;
    height: auto;

    padding: 10px 0px 10px;
}

.adventage-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 30px;
    width: 100%;
    /*height: 60px;*/
    background-color: transparent;
    font-weight: bold;
    color: #ff6200;
    font-size: 2.5vw;
    border-bottom: 3px solid #ff6200;
}

.adventage-header-main {
    padding: 5px;

    color: #ff6200;
}

.adventage-header span {
    margin-left: 40px;
    font-size: 1.5vw;
    font-style: italic;
}

@media (max-width: 600px) {

    .adventage-header {
        font-size: 30px;
    }

    .adventage-header span {
        font-size: 15px;
    }
}

.adventages-content {
    display: flex;
    flex-wrap: wrap;

    align-items: flex-start;
    justify-content: space-evenly;
}